[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask = "==1.0.2"
flask-moment = "*"
flask-dropzone = "*"
jinja2 = "==2.10"
flask-mail = "*"
flask-wtf = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-avatars = "*"
flask-whooshee = "==0.7.0"

[dev-packages]
faker = "*"
watchdog = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
